# Prepare privately. Installing this file does not authorize sending or scheduling.
CHAT_MAIL_API_SCHEDULER_ENABLED=0
CHIRPY_MAIL_PROVIDER=resend
CHIRPY_MAIL_SERVICE_URL=https://chirpy.bittrees.org/api/mail
CHIRPY_MAIL_WORKER_SECRET=
