[Unit]
Description=Schedule the Chat inbound mail worker

[Timer]
OnBootSec=2min
OnUnitInactiveSec=30s
RandomizedDelaySec=5s
AccuracySec=1s
Unit=chat-mail-inbound.service

[Install]
WantedBy=timers.target
